/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  border: 1px solid black;
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 270px;
  height: 15px;
}
